<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuEg_RTHsvpBHgmavfT7MsCMtXNThbM0I</string>
	<key>GCM_SENDER_ID</key>
	<string>524518807460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcircle.testAppcircle</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-test-8d2ca</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-test-8d2ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524518807460:ios:82400d5d95e9158c311331</string>
</dict>
</plist>